html{ 
	background-color: #cccccc
}

body {
    padding-top: 60px;
    padding: 100px;
    background-color: #FFFFFF;
  	width: 800px;
  	margin: 0 auto;
  	box-shadow:inset 0 0 2px #cccccc;
}

h1.title {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 120px;
	font-family: 'Russo One', sans-serif;
	font-weight:600;
}

p.intro {
	text-align: center;
	font-family: 'News Cycle', sans-serif;
	font-size: 26px;
	font-style:normal;
	font-weight:400;
}

div.hr {
padding-top: 20px;
padding-bottom: 50px;
margin-left: auto;
margin-right: auto;
width 75em;
height:1em;
}

td.tbhdr
{
	font-family: 'News Cycle', serif;
	font-weight:300;
}

td.tile
{
    padding-left: 20px;
    
}

td.expo
{
	font-family: 'News Cycle', serif;
	font-size: 14px;
	font-weight:100;
	padding-right: 25px;
}

ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}




li
{
float:left;
color:#FFFFFF;
}

a.main-nav
{
	text-align:center;
	height: 26px;
	text-decoration:none;
	text-transform:uppercase;
}

a
{
	display:block;
	font-family: 'News Cycle', sans-serif;
	width:100px;
	color: #4284D3;
}

a.btlink
{

}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}

a:hover 
{
	color: #E6E6E6;
}


.signup {

	-moz-box-shadow:inset 0px 1px 0px 0px #4284D3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #4284D3;
	box-shadow:inset 0px 1px 0px 0px #4284D3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-webkit-border-top-left-radius:11px;
	-moz-border-radius-topleft:11px;
	border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-radius-topright:11px;
	border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	-moz-border-radius-bottomright:11px;
	border-bottom-right-radius:11px;
	-webkit-border-bottom-left-radius:11px;
	-moz-border-radius-bottomleft:11px;
	border-bottom-left-radius:11px;
	text-indent:0;
	border:1px solid #337fed;
	display:block;
	margin:0 auto;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:37px;
	line-height:37px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;


}
.signup:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #4284D3) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #4284D3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.signup:active {
	position:relative;
	top:1px;

}</style>